@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
html,
body{
    font-family: 'Inter', sans-serif;
    

}
.login-bg {
    background: #F1F1F1;
    width: 100vw;
    height: 100vh;

}

.login-card-box {
    width: 564px;
    height: 577px;
    left: 438px;
    top: 189px;
    border: solid 1px #4d4d4d7e;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px; 
    
    margin-top: 50px;
}
.green{
    color: #656F46;
}

.login-card-title {
    width: 242px;
    height: 63px;
    left: 515px;
    top: 278px;

    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;

    color: #2a2c25;
}

.login-card-box>form {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 157.02%;
    /* or 22px */

    letter-spacing: 0.06em;
    color: #656F46;
}

.login-card-box>form>.mb-3>button {
    border: solid 1px #4d4d4d;
    width: 92.59px;
    height: 42.31px;
    left: 517px;
    top: 647px;

    background: #CCD5AE;
    border-radius: 8px;
    
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 157.02%;
    /* or 25px */

    letter-spacing: 0.06em;

    color: #656F46;
}
.login-card-box>form>.mb-3>button:hover {
    transition: 0.2s;
    -webkit-box-shadow: 1px 0px 8px 8px rgba(214,223,185,0.35);
}

.login-form-control {
    width: 460px;
    height: 34.55px;
    left: 519px;
    top: 433px;

    text-indent: 20px;
    background: #F5F5F5;
    border: 1px solid rgba(2, 2, 36, 0.2);
    border-radius: 5px;
}