@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
* {
	font-family: 'Inter', sans-serif;
}

.login-bg {
	background: #f1f1f1;
	width: 100vw;
	height: 100vh;
}

.login-card-box {
	width: 564px;
	height: 577px;
	left: 438px;
	top: 189px;
	border: solid 1px #4d4d4d7e;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;

	margin-top: 50px;
}

.green {
	color: #656f46;
}

.login-card-title {
	width: 242px;
	height: 63px;
	left: 515px;
	top: 278px;

	font-style: normal;
	font-weight: 600;
	font-size: 29px;
	line-height: 35px;

	color: #2a2c25;
}

.login-card-box>form {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 157.02%;
	/* or 22px */

	letter-spacing: 0.06em;
	color: #656f46;
}

.login-card-box>form>.mb-3>button {
	border: solid 1px #4d4d4d;
	width: 92.59px;
	height: 42.31px;
	left: 517px;
	top: 647px;

	background: #ccd5ae;
	border-radius: 8px;

	border: none;

	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 157.02%;
	/* or 25px */

	letter-spacing: 0.06em;

	color: #656f46;
}

.login-card-box>form>.mb-3>button:hover {
	transition: 0.2s;
	-webkit-box-shadow: 1px 0px 8px 8px rgba(214, 223, 185, 0.35);
}

.login-form-control {
	width: 460px;
	height: 34.55px;
	left: 519px;
	top: 433px;

	text-indent: 20px;
	background: #f5f5f5;
	border: 1px solid rgba(2, 2, 36, 0.2);
	border-radius: 5px;
}

.accent {
	background-color: #656e46;
	border: none;
}

.ngilang {
	display: none;
}

.mcenter {
	font-family: "Inter";
	font-style: normal;
	font-weight: 200;
	font-size: 14px;
	line-height: auto;

	color: #000000;
}

@media only screen and (max-width: 900px) {
	.mcenter {
		text-align: center;
		margin-top: 30px;
		margin-left: 30px;
		margin-right: 30px;
	}
}

@media only screen and (max-width: 900px) {
	.hide {
		display: none;
	}

	.show {
		display: inherit;
	}
}

.hv-red {
	color: rgb(0, 0, 0);
}

.text-accent {
	color: #656e46;
}

.big {
	font-size: 60px;
}

.btn-primary:hover {
	-webkit-box-shadow: 0px 0px 20px 9px rgba(226, 240, 175, 0.75);
	background-color: #656e46;
}

.round {
	border-radius: 30px;
}

/* 3.5 Card */
.card {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
	background-color: #fff;
	border-radius: 3px;
	border: none;
	position: relative;
	margin-bottom: 30px;

	width: 223px;
	height: 389px;
}

.card .card-header,
.card .card-body,
.card .card-footer {
	background-color: transparent;
	padding: 20px 25px;
}

.card .navbar {
	position: static;
}

.card .card-body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.card .card-body .section-title {
	margin: 30px 0 10px 0;
	font-size: 16px;
}

.card .card-body .section-title:before {
	margin-top: 8px;
}

.card .card-body .section-title+.section-lead {
	margin-top: -5px;
}

.card .card-body p {
	font-weight: 500;
}

.card .card-header {
	border-bottom-color: #f9f9f9;
	line-height: 30px;
	-ms-grid-row-align: center;
	align-self: center;
	width: 100%;
	min-height: 70px;
	padding: 15px 25px;
	display: flex;
	align-items: center;
}

.card .card-header .btn {
	margin-top: 1px;
	padding: 2px 15px;
}

.card .card-header .btn:not(.note-btn) {
	border-radius: 30px;
}

.card .card-header .btn:hover {
	box-shadow: none;
}

.card .card-header .form-control {
	height: 31px;
	font-size: 13px;
	border-radius: 30px;
}

.card .card-header .form-control+.input-group-btn .btn {
	margin-top: -1px;
}

.card .card-header h4 {
	font-size: 16px;
	line-height: 28px;
	padding-right: 10px;
	margin-bottom: 0;
}

.card .card-header h4+.card-header-action,
.card .card-header h4+.card-header-form {
	margin-left: auto;
}

.card .card-header h4+.card-header-action .btn,
.card .card-header h4+.card-header-form .btn {
	font-size: 12px;
	border-radius: 30px !important;
	padding-left: 13px !important;
	padding-right: 13px !important;
}

.card .card-header h4+.card-header-action .btn.active,
.card .card-header h4+.card-header-form .btn.active {
	box-shadow: 0 2px 6px #acb5f6;
	background-color: #6777ef;
	color: #fff;
}

.card .card-header h4+.card-header-action .dropdown,
.card .card-header h4+.card-header-form .dropdown {
	display: inline;
}

.card .card-header h4+.card-header-action .btn-group .btn,
.card .card-header h4+.card-header-form .btn-group .btn {
	border-radius: 0 !important;
}

.card .card-header h4+.card-header-action .btn-group .btn:first-child,
.card .card-header h4+.card-header-form .btn-group .btn:first-child {
	border-radius: 30px 0 0 30px !important;
}

.card .card-header h4+.card-header-action .btn-group .btn:last-child,
.card .card-header h4+.card-header-form .btn-group .btn:last-child {
	border-radius: 0 30px 30px 0 !important;
}

.card .card-header h4+.card-header-action .input-group .form-control,
.card .card-header h4+.card-header-form .input-group .form-control {
	border-radius: 30px 0 0 30px !important;
}

.card .card-header h4+.card-header-action .input-group .form-control+.input-group-btn .btn,
.card .card-header h4+.card-header-form .input-group .form-control+.input-group-btn .btn {
	border-radius: 0 30px 30px 0 !important;
}

.card .card-header h4+.card-header-action .input-group .input-group-btn+.form-control,
.card .card-header h4+.card-header-form .input-group .input-group-btn+.form-control {
	border-radius: 0 30px 30px 0 !important;
}

.card .card-header h4+.card-header-action .input-group .input-group-btn .btn,
.card .card-header h4+.card-header-form .input-group .input-group-btn .btn {
	margin-top: -1px;
	border-radius: 30px 0 0 30px !important;
}

.card .card-footer {
	background-color: transparent;
	border: none;
}

.card.card-mt {
	margin-top: 30px;
}

.card.card-progress:after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 99;
	z-index: 99;
}

.card.card-progress .card-progress-dismiss {
	position: absolute;
	top: 66%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 999;
	color: #fff !important;
	padding: 5px 13px;
}

.card.card-progress.remove-spinner .card-progress-dismiss {
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.card.card-progress:not(.remove-spinner):after {
	background-image: url("../img/spinner.svg");
	background-size: 80px;
	background-repeat: no-repeat;
	background-position: center;
}

.card.card-primary {
	border-top: 2px solid #6777ef;
}

.card.card-secondary {
	border-top: 2px solid #34395e;
}

.card.card-success {
	border-top: 2px solid #63ed7a;
}

.card.card-danger {
	border-top: 2px solid #fc544b;
}

.card.card-warning {
	border-top: 2px solid #ffa426;
}

.card.card-info {
	border-top: 2px solid #3abaf4;
}

.card.card-dark {
	border-top: 2px solid #191d21;
}

.card.card-hero .card-header {
	padding: 40px;
	background-image: linear-gradient(to bottom, #6777ef, #95a0f4);
	color: #fff;
	overflow: hidden;
	height: auto;
	min-height: auto;
	display: block;
}

.card.card-hero .card-header h4 {
	font-size: 40px;
	line-height: 1;
}

.card.card-hero .card-header .card-description {
	margin-top: 5px;
	font-size: 16px;
}

.card.card-hero .card-header .card-icon {
	float: right;
	color: #8c98f3;
	margin: -60px;
}

.card.card-hero .card-header .card-icon .ion,
.card.card-hero .card-header .card-icon .fas,
.card.card-hero .card-header .card-icon .far,
.card.card-hero .card-header .card-icon .fab,
.card.card-hero .card-header .card-icon .fal {
	font-size: 140px;
}

.card.card-statistic-1 .card-header,
.card.card-statistic-2 .card-header {
	border-color: transparent;
	padding-bottom: 0;
	height: auto;
	min-height: auto;
	display: block;
}

.card.card-statistic-1 .card-header h4,
.card.card-statistic-2 .card-header h4 {
	line-height: 1.2;
	color: #98a6ad;
}

.card.card-statistic-1 .card-body,
.card.card-statistic-2 .card-body {
	padding-top: 0;
}

.card.card-statistic-1 .card-body,
.card.card-statistic-2 .card-body {
	font-size: 26px;
	font-weight: 700;
	color: #34395e;
	padding-bottom: 0;
}

.card.card-statistic-1,
.card.card-statistic-2 {
	display: inline-block;
	width: 100%;
}

.card.card-statistic-1 .card-icon,
.card.card-statistic-2 .card-icon {
	width: 80px;
	height: 80px;
	margin: 10px;
	border-radius: 3px;
	line-height: 94px;
	text-align: center;
	float: left;
	margin-right: 15px;
}

.card.card-statistic-1 .card-icon .ion,
.card.card-statistic-1 .card-icon .fas,
.card.card-statistic-1 .card-icon .far,
.card.card-statistic-1 .card-icon .fab,
.card.card-statistic-1 .card-icon .fal,
.card.card-statistic-2 .card-icon .ion,
.card.card-statistic-2 .card-icon .fas,
.card.card-statistic-2 .card-icon .far,
.card.card-statistic-2 .card-icon .fab,
.card.card-statistic-2 .card-icon .fal {
	font-size: 22px;
	color: #fff;
}

.card.card-statistic-1 .card-icon {
	line-height: 90px;
}

.card.card-statistic-2 .card-icon {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 22px;
	margin: 25px;
}

.card.card-statistic-1 .card-header,
.card.card-statistic-2 .card-header {
	padding-bottom: 0;
	padding-top: 25px;
}

.card.card-statistic-2 .card-body {
	padding-top: 20px;
}

.card.card-statistic-2 .card-header+.card-body,
.card.card-statistic-2 .card-body+.card-header {
	padding-top: 0;
}

.card.card-statistic-1 .card-header h4,
.card.card-statistic-2 .card-header h4 {
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 0.5px;
}

.card.card-statistic-1 .card-header h4 {
	margin-bottom: 0;
}

.card.card-statistic-2 .card-header h4 {
	text-transform: none;
	margin-bottom: 0;
}

.card.card-statistic-1 .card-body {
	font-size: 20px;
}

.card.card-statistic-2 .card-chart {
	padding-top: 20px;
	margin-left: -9px;
	margin-right: -1px;
	margin-bottom: -15px;
}

.card.card-statistic-2 .card-chart canvas {
	height: 90px !important;
}

.card .card-stats {
	width: 100%;
	display: inline-block;
	margin-top: 2px;
	margin-bottom: -6px;
}

.card .card-stats .card-stats-title {
	padding: 15px 25px;
	background-color: #fff;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.3px;
}

.card .card-stats .card-stats-items {
	display: flex;
	height: 50px;
	align-items: center;
}

.card .card-stats .card-stats-item {
	width: calc(100% / 3);
	text-align: center;
	padding: 5px 20px;
}

.card .card-stats .card-stats-item .card-stats-item-label {
	font-size: 12px;
	letter-spacing: 0.5px;
	margin-top: 4px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.card .card-stats .card-stats-item .card-stats-item-count {
	line-height: 1;
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: 700;
}

.card.card-large-icons {
	display: flex;
	flex-direction: row;
}

.card.card-large-icons .card-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 150px;
	border-radius: 3px 0 0 3px;
}

.card.card-large-icons .card-icon .ion,
.card.card-large-icons .card-icon .fas,
.card.card-large-icons .card-icon .far,
.card.card-large-icons .card-icon .fab,
.card.card-large-icons .card-icon .fal {
	font-size: 60px;
}

.card.card-large-icons .card-body {
	padding: 25px 30px;
}

.card.card-large-icons .card-body h4 {
	font-size: 18px;
}

.card.card-large-icons .card-body p {
	opacity: 0.6;
	font-weight: 500;
}

.card.card-large-icons .card-body a.card-cta {
	text-decoration: none;
}

.card.card-large-icons .card-body a.card-cta i {
	margin-left: 7px;
}

.card.bg-primary,
.card.bg-danger,
.card.bg-success,
.card.bg-info,
.card.bg-dark,
.card.bg-warning {
	color: #fff;
}

.card.bg-primary .card-header,
.card.bg-danger .card-header,
.card.bg-success .card-header,
.card.bg-info .card-header,
.card.bg-dark .card-header,
.card.bg-warning .card-header {
	color: #fff;
	opacity: 0.9;
}

@media (max-width: 575.98px) {
	.card.card-large-icons {
		display: inline-block;
	}

	.card.card-large-icons .card-icon {
		width: 100%;
		height: 200px;
	}
}

@media (max-width: 767.98px) {
	.card .card-header {
		height: auto;
		flex-wrap: wrap;
	}

	.card .card-header h4+.card-header-action,
	.card .card-header h4+.card-header-form {
		flex-grow: 0;
		width: 100%;
		margin-top: 10px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.card .card-stats .card-stats-items {
		height: 49px;
	}

	.card .card-stats .card-stats-items .card-stats-item {
		padding: 5px 7px;
	}

	.card .card-stats .card-stats-items .card-stats-item .card-stats-item-count {
		font-size: 16px;
	}

	.card.card-sm-6 .card-chart canvas {
		height: 85px !important;
	}

	.card.card-hero .card-header {
		padding: 25px;
	}
}

.card-title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 156%;

	color: rgba(0, 0, 0, 0.75);
}

.card-price {
	font-family: 'Inter';
	font-style: normal;
	font-weight: bold;
	font-size: 16px;

	letter-spacing: 0.035em;
	color: rgba(0, 0, 0, 0.75);
}

small.card-discount {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	
	letter-spacing: 0.035em;

	color: rgba(208, 13, 13, 0.45);
}

.bg-accent {
    background-color: #BAC399;
}

.box-features {
    box-sizing: border-box;

    background: #FFFFFF;
    border: 1px solid rgba(77, 77, 77, 0.196);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.navbar-bg-custom {
    background: #FFFFFF;
}

.navbar-img-custom {
    width: 195px;
}

.navbar-list-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 156%;
    /* identical to box height, or 28px */

    color: #505050;
}

.navbar-list-item:hover {

    color: #656E46;
}
.typo {
    font-family: 'Satisfy', cursive;


}

.footer-bg{
    background-color: #1D2939;
}

.box-product {
	box-sizing: border-box;

    background: #FFFFFF;
    border: 1px solid rgba(77, 77, 77, 0.196);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
}

.card-product-title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 156%;
	/* or 20px */


	color: rgba(0, 0, 0, 0.75);
}

.card-product-price {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.75);
}

.card-product-discount {
	font-style: normal;
	font-size: 10px;
	color: rgba(208, 13, 13, 0.45);
	
	text-decoration: line-through;
}

.card-btn-cart {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background: #656E46;
	border-radius: 6px;

	border: none;
}
.active {
	padding-left: 5px;
	background-color: #CCD5AE;
	color: white;
	border-radius: 2px;
	font-weight: 600;
}

.card-b{
	background: #78854d;
}

.product-group {
	display: flex;
    flex-wrap: wrap;
    margin: 0px -4px;
}

.product {
	background: var(--N0,#FFFFFF);
	display: inline-flex;
	-webkit-box-align: stretch;
	align-items: stretch;
	padding: 0px 8px 16px;
	box-sizing: border-box;
}